# Ignore Visual Studio folders
.vs/
*.user
*.suo

# Ignore build folders and outputs
Debug/
Release/
x64/
*.obj
*.exe
*.pdb
*.ilk
*.log

# Ignore CMake build folders (if used)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore temporary files
*.tmp
*.log
*.tlog
*.idb

# Ignore compiled binaries
*.dll
*.lib
*.exp

# Ignore system-specific files
.DS_Store
Thumbs.db
